body {
  font-family: "Montserrat", sans-serif;
  background-color: #e3f4ff;
  max-width: 100%;
}

h1 {
  color: #ffffff;
  font-family: "Merriweather", serif;
}

li,
p,
#current-time {
  color: #ffffff;
  font-size: 0.9rem;
}

small {
  text-align: center;
  color: #fb623d;
}
a {
  color: #ffffff;
}

.units {
  position: relative;
  top: -1.5rem;
}
.time list-unstyled {
  line-height: 2;
}

.body-box {
  padding: 3rem 1.25rem;
  max-width: 44rem;
}
.container {
  background-image: linear-gradient(to top, #647883 0%, #265e83 100%);
  max-width: 44rem;
  margin: 20px auto;
  padding: 10px auto;
  border-radius: 1.25rem;
}

#search-form {
  position: static;
  bottom: 1.9rem;
  padding-bottom: 0.5rem;
}

#emoji {
  color: #fb7250;
}

.max {
  font-size: 1.5rem;
}

.time {
  font-size: 1.2rem;
  color: #fff;
}
#current-day {
  line-height: 1;
}

#current-temperature {
  color: #ffffff;
  font-size: 4rem;
  padding-left: 2rem;
}

#current-icon {
  position: relative;
  left: -1.25rem;
}

#celsius-link:active {
  text-decoration: none;
  color: #fb7250;
}
#fahrenheit-link:active {
  text-decoration: underline;
  color: #fb7250;
}
a#open {
  color: black;
}

@media (max-width: 35.9rem) {
  #forecast-icon {
    display: none;
  }

  .time {
    font-size: x-large;
  }

  .max {
    color: #fb7250;
  }
}

@media (max-width: 25rem) {
  #current-city {
    font-size: 2rem;
  }

  #current-temperature {
    font-size: 3rem;
    padding-bottom: 9rem;
  }

  img {
    display: none;
  }
  .text-capitalize,
  #state {
    display: none;
  }

  .max {
    color: #fb7250;
  }

  .time {
    font-size: x-large;
  }

  #humidity {
    padding-top: 3rem;
  }
}
