body {
  font-family: "Montserrat", sans-serif;
  background-color: #e3f4ff;
}
form {
  position: static;
  bottom: 30px;
  padding-bottom: 10px;
}
h1 {
  color: #ffffff;
  font-family: "Merriweather", serif;
}

h6 {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: normal;
}

p {
  color: #ffffff;
  font-size: 14px;
}
small {
  text-align: center;
  color: #fb623d;
}
a {
  color: #ffffff;
}

#icon {
  position: relative;
  top: 1rem;
  left: -0.5rem;
}
.units {
  color: #ffffff;
  position: relative;
  float: right;
  top: -5rem;
  left: -7rem;
}

.body-box {
  padding: 50px 20px;
  max-width: 700px;
}
.container {
  background-image: linear-gradient(to top, #647883 0%, #265e83 100%);
  max-width: 700px;
  margin: 20px auto;
  padding: 10px auto;
  border-radius: 20px;
}

#emoji {
  color: #fb7250;
}

#description {
  color: #ffffff;
}
.max {
  font-size: 18px;
}
#current-time {
  color: #ffffff;
  font-size: 14px;
}
#current-day {
  line-height: 1;
}

#current-temperature {
  color: #ffffff;
  font-size: 60px;
}

#fahrenheit-link {
  color: #ffffff;
  cursor: default;
}
#celsius-link {
  color: #ffffff;
}
#celsius-link:hover {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
a#open {
  color: black;
}


@media (max-width: 22.5rem) {
  p {
    font-size: 12px;
  }

  #current-city {
    font-size: 1.5rem;
  }

  #current-temperature {
    font-size: 2rem;
  }
}