body {
  font-family: "Montserrat", sans-serif;
  background-color: #e3f4ff;
}

h1 {
  color: #ffffff;
  font-family: "Merriweather", serif;
}

h6 {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: normal;
}

p {
  color: #ffffff;
  font-size: 14px;
}
small {
  text-align: center;
  color: #fb623d;
}
a {
  color: #ffffff;
}

#icon {
  position: relative;
  top: 1rem;
  left: -0.5rem;
}

.units {
  position: relative;
 top: -1.5rem;
 
}

 .body-box {
  padding: 3rem  1.25rem;
  max-width:44rem;
}
.container {
  background-image: linear-gradient(to top, #647883 0%, #265e83 100%);
  max-width:44rem;
  margin: 20px auto;
  padding: 10px auto;
  border-radius: 20px;
}
#search-form {
  position: static;
  bottom:1.9rem;
  padding-bottom:0.5rem;
}

#emoji {
  color: #fb7250;
}

#description {
  color: #ffffff;
}
.max {
  font-size: 1.5rem;
}
#current-time {
  color: #ffffff;
  font-size: 1rem;
}
#current-day {
  line-height: 1;
}

#current-temperature {
  color: #ffffff;
  font-size: 4rem;
  padding-left: 2rem;
}

#fahrenheit-link {
  color:  #ffffff;
  cursor: default;
}
#celsius-link {
  color:  #ffffff;
}
#celsius-link:hover {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
a#open {
  color: black;
}

@media (max-width: 25rem)  {


  #current-city {
    font-size: 2rem;
   }

  #current-temperature {
    font-size: 3rem;
  }

  a #link {
  position:relative;
  float:right;
  top: -3.5rem;
  right:3.5rem;
}

  img {
    display: none;
  }
  .text-capitalize, #state {
    display:none;
  }

  .max {
    color: #fb7250;
  }

  .time {
     font-size: x-large;
  }

  #humidity {
    padding-top: 3rem;
  }

}


